@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", serif;
}
.main{
    margin: 100px 250px;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 110px 110px 110px 110px;
    grid-gap: 20px 20px;
}

.sub-div{
    box-shadow: 5px 12px 20px hsl(0, 0%, 81%);;
    padding: 25px 25px;
    border-radius: 10px 10px 10px 10px;
}

.one{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%) ;
    

}
.two{
   grid-column: 3/ span 1;
   grid-row: 1/span 2;
   background-color: hsl(224, 10%, 45%);
   color: hsl(0, 0%, 100%) ;
}
.three{
   grid-column: 4/span 1;
   grid-row: 1/span 4;
   background-color:  hsl(0, 0%, 100%) ;
}
.four{
    grid-column: 1/span 1;
    grid-row: 3/span 2;
    background-color:  hsl(0, 0%, 100%) ;
}
.five{
    grid-column: 2/ span 2;
    grid-row: 3/ span 2;
    background-color:  hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%) ;;
    
}
.six{
  display: none;  
}
.name{
    position: relative;
    left: 50px;
    bottom: 76px;
    font-weight: bold;
    font-size: 10px;
}
.title{
    position: relative;
    left: 50px;
    bottom:85px;
    font-size: 9px;
    font-weight: 600;
    color: hsl(0, 0%, 81%);
}
.svg{
    position: relative;
    bottom: 150px;
    left: 310px;
    width: 90px;
    height: 90px;
    opacity: 0.3;
    z-index: 1;
    
}
.sub-para .one{
    font-size: 14px;
    position: relative;
    bottom: 185px;
    font-weight: 600;
}
.sub-para{
    font-size: 14px;
    position: relative;
    bottom: 75px;
    font-weight: 600;
}
.para.one{
    font-size: 9.5px;
    font-weight: 600;
    color: hsl(0, 0%, 81%);
    position: relative;
    bottom: 185px;
    line-height: 14px;
    
}
.para{
    font-size: 9.5px;
    font-weight: 600;
    color: hsl(0, 0%, 81%);
    position: relative;
    bottom: 70px;
    line-height: 14px;
    
}
.frame{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
}
.sub-div span img{
    position: relative;
    bottom: 34.5px;
    left: 2.4px;
    width: 32.5px;
    height: 32.5px;
    border-radius: 50%;
}

.attribution{
    display: flex;
    justify-content: center;
}
.attribution a{
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
}


@media (max-width:375px){

    .svg{
        display: none;
    }

    .main{
        margin: 60px 20px;
        display: flex;
        flex-wrap: wrap;
        
    }
    .sub-div{
        padding: 30px;
        box-shadow: 5px 12px 10px hsl(0, 0%, 81%);
        border-radius: 10px;
    }

    .one{
        height: 400px;
        background-color: hsl(263, 55%, 52%);
        color: hsl(0, 0%, 100%) ;
        overflow: hidden;
        order: 1;  
    }
    .two{
        height: 200px;
       background-color: hsl(224, 10%, 45%);
       color: hsl(0, 0%, 100%) ;
       z-index: 1;
       order: 2;
    }
    .three{
        height: 450px;
       background-color:  hsl(0, 0%, 100%) ;
       order: 5;
    }
    .four{
        height: 200px;
        background-color:  hsl(0, 0%, 100%) ;
        order: 3;
    }
    .five{
        height: 400px;
        background-color:  hsl(219, 29%, 14%);
        color: hsl(0, 0%, 100%) ;
        order: 4;
        
    }
    .sub-div-gap{
        padding: 30px;
        order: 6;
    }

    .name{
        position: relative;
        left: 50px;
        bottom: 76px;
        font-weight: bold;
        font-size: 10px;
    }
    .title{
        position: relative;
        left: 50px;
        bottom:85px;
        font-size: 9px;
        font-weight: 600;
        color: hsl(0, 0%, 81%);
    }
    .frame{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: white;
    }
    .sub-div span img{
        position: relative;
        bottom: 34.5px;
        left: 2.4px;
        width: 32.5px;
        height: 32.5px;
        border-radius: 50%;
    }
    .sub-para{
        font-size: 16px;
        position: relative;
        bottom: 75px;
        font-weight: 600;
        line-height: 20px;
    }
    .sub-para.one{
        font-size: 16px;
        position: relative;
        bottom: 75px;
        font-weight: 600;
        line-height: 20px;
        
    }
    .para .one{
        font-weight: 600;
        color: hsl(0, 0%, 81%);
        position: relative;
        bottom: 350px;
        line-height: 17px;
    }
    .para{
        font-size: 11.5px;
        font-weight: 600;
        color: hsl(0, 0%, 81%);
        position: relative;
        bottom: 70px;
        line-height: 17px;
        
    }
    .attribution{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        position: relative;
        top: 102rem;
    
    
    }
    .attribution a{
        text-decoration: none;
        padding-left: 5px;
        font-weight: bold;
    }
    
}




